@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
.oval{
    width: 28vw;
    height: 80vh;
    border-radius: 50%;
    background-color: black;
    margin-left: 95px;
    border: #FFE08E solid 5px;
    display: flex
;
    justify-content: center;
    align-items: center;


    


}
.oval img{
    width: 90%;
    height: 93%;
    border-radius: 50%;
    
    
}
.aboutme{
    width: 50%;
    height:80vh;
    border-color: black;
    border-width:5px;
    border-style: solid;
    border-radius: 35px;
    position: relative;
    background-color: #FFEE9E ;
    
}
.oval_profile_section{
    display: flex;
    margin-top: 25%;
    gap: 40px;
    
}

.aboutme img{
    position: absolute;
    bottom: 427px;
    right: 210px;
    width: 40px;
}
.aboutme p{
    color: #A5279A;
    font-weight: 300;
    font-family: "Silkscreen";
}
.tulip {
    background-color: black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    left: -936px;
    position: relative;
    top: 376px;
    border: #FFEE9E solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.tulip img{
    left: 30px;
    top: 18px;
    position: absolute;
    z-index: 10;


    
}




.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  